<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>รีเซ็ตรหัสผ่านสำเร็จ</title>
</head>
<body>
  {% include 'Navbar.html' %}
  <div class="relative pt-12 lg:pt-24 min-h-[calc(100vh)] bg-slate-100 font-minimon text-[#164863]">
    <div class="px-8 md:px-20 text-xl md:text-2xl text-center">
      <p>
          รหัสผ่านของคุณได้รับการรีเซ็ตเรียบร้อยแล้ว คุณสามารถ <a class="text-red-500 hover:text-blue-400" href="{% url 'login' %}">เข้าสู่ระบบ</a> ที่นี้
      </p>
    </div>
  </div>
</body>
</html>