{% include 'navbar.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ส่งการรีเซ็ตรหัสผ่านสำเร็จ</title>
</head>
<body>
    <div class="relative min-h-[calc(100vh)] pt-12 lg:pt-24 bg-slate-100 font-minimon text-[#164863]">
        <div class="md:text-left lg:text-center">
            <h2 class="text-2xl md:text-4xl text-center">ส่งการรีเซ็ตรหัสผ่านแล้ว</h2>
            <div class="flex flex-col gap-4 py-4 px-8 text-xl md:text-2xl">
                <p>
                    เราได้ส่งอีเมลคำแนะนำในการตั้งรหัสผ่านให้คุณแล้ว หากมีบัญชีที่ใช้อีเมลที่คุณป้อน คุณควรจะได้รับในไม่ช้า.
                </p>
                <p>
                    หากคุณไม่ได้รับอีเมล โปรดตรวจสอบให้แน่ใจว่าคุณได้ป้อนอีเมล์ที่คุณลงทะเบียนไว้ และตรวจสอบโฟลเดอร์สแปมของคุณ.
                </p>
            </div>

        </div>
    </div>
    
</body>
</html>