
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
    <title>รายละเอียดข้อมูลงานวิจัย</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="relative  pb-12 min-h-screen font-minimon bg-white text-[#164863]">
        <div class="pt-4 md:pt-8 px-4 md:px-8 lg:px-12 xl:px-20">
            <div class="py-2 px-4 my-4 text-xl md:text-2xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow">
                <h1>ข้อมูลโครงการวิจัย | รายละเอียดโครงงานวิจัย</h1>
            </div>

            <div class="bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-lg md:text-xl text-center py-1 rounded-md drop-shadow-md shadow">
                <h1>ข้อมูลพื้นฐาน</h1>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>รหัสโครงการวิจัย</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.research_code}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>ชื่อโครงการวิจัย(ไทย)</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.research_nameTH}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>ชื่อโครงการวิจัย(อังกฤษ)</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.research_nameEN}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>ภายใน / ภายนอก</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.inside_outside}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>ประเภทวิจัย</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.research_type}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>ยุทธศาสตร์</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.strategic_choice}}</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>สถานะโครงการวิจัย</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    <h1>{{research_project.status}}</h1>
                </div>
            </div>

            <div class="bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-lg md:text-xl text-center py-1 rounded-md drop-shadow-md shadow">
                <h1>ข้อมูลนักวิจัย</h1>
            </div>

            <div class="py-2 px-2 md:px-4 flex flex-row items-center w-full text-sm md:text-lg bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow mt-4 mb-3">
                <h1 class="w-1/12 text-center">ลำดับ</h1>
                <h1 class="w-1/3 text-center">ชื่อ-นามสกุล</h1>
                <h1 class="w-1/3 text-center">ตำแหน่ง</h1>
            </div>

            
            {% for item in combined_researchers %}
            <div class="mt-2 py-2 px-2 md:px-4 flex flex-row items-center w-full text-sm md:text-lg bg-slate-100 rounded-lg drop-shadow-md shadow my-4">
                <h1 class="w-1/12 text-center">{{ forloop.counter }}</h1>
                <!-- Check the type to decide which name attribute to display -->
                <h1 class="w-1/3 text-center">
                    {% if item.type == 'internal' %}
                        {{ item.researcher.name.name_lastname_th }}
                    {% else %}
                        {{ item.researcher.name }}
                    {% endif %}
                </h1>
                <h1 class="w-1/3 text-center">{{ item.researcher.research_position }}</h1>
            </div>
            {% endfor %}


            <div class="bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-lg md:text-xl text-center py-1 rounded-md drop-shadow-md shadow mt-3">
                <h1>ข้อมูลด้านงบประมาณ</h1>
            </div>
            
            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>แหล่งเงินทุน</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    {% for fund in research_project.fund.all %}

                    <h1>{{fund}}</h1>
                    {% endfor %}
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>จำนวน</h1>
                </div>
                {% load humanize %}

                <div class="flex-1 text-left px-4">
                    <h1>{{ research_project.money|intcomma }} บาท</h1>
                </div>
            </div>

            <div class="flex flex-row my-4 text-lg items-start">
                <div class="w-1/3 lg:w-1/4 px-2 md:px-4 lg:px-8 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] text-left lg:text-right rounded-sm drop-shadow-md shadow">
                    <h1>หน่วยงานสนับสนุน</h1>
                </div>
                <div class="flex-1 text-left px-4">
                    {% for agency in research_project.agency.all %}
                    <h1>{{agency}}</h1>
                    {% endfor %}
                </div>
            </div>  

        </div>
    </div>


</body>
</html>
