
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <title>กรอกข้อมูลผลงานวิจัย</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="relative  min-h-screen font-minimon text-[#164863]">
        {% if user.is_authenticated %}
        <div class="pt-2 md:pt-8 px-4 md:px-12">
        {% else %}
        <div class="pt-4 md:pt-16 px-4 md:px-12">
        {% endif %}            
            <div class="py-2 px-4 mb-4 text-xl md:text-2xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                <h1>กรอกข้อมูลผลงานวิจัย</h1>
            </div>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="py-8 md:px-4 grid md:grid-cols-2 gap-4 text-3xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                    
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="research_nameTH" class="text-base md:text-xl">ชื่อโครงการวิจัย (TH)<span class="text-red-600"> *</span></label>
                        <input type="text" name="research_nameTH" placeholder="Research project name (TH)" value="{{research_project.research_nameTH}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="research_nameEN" class="text-base md:text-xl">ชื่อโครงการวิจัย (EN)</label>
                        <input type="text" name="research_nameEN" placeholder="Research project name (EN)" value="{{research_project.research_nameEN}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="faculty" class="text-base md:text-xl">หน่วยงาน / คณะ <span class="text-red-600"> *</span></label>
                        <select name="faculty" id="faculty" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{research_project.faculty.name}}">{{research_project.faculty}}</option>
                            {% for faculty in faculties %}
                            <option value="{{ faculty.id }}">{{ faculty.name }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="department" class="text-base md:text-xl">ฝ่ายงาน / สาขา<span class="text-red-600"> *</span></label>
                        <select name="department" id="department" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{research_project.department.name}}">{{research_project.department.name}}</option>
                        </select>
                    </div>
                    
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="work_type" class="text-base md:text-xl">ประเภทผลงาน<span class="text-red-600"> *</span></label>
                        <select id="work_type" name="work_type" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none" onchange="showOtherField()">
                            <option value="{{research_project.work_type}}">{{research_project.work_type}}</option>
                            {% for choice in research_work_type_choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div id="other_work_type_div" class="hidden  flex-col px-8 gap-y-1">
                        <label for="other_work_type" class="text-base md:text-xl">ประเภทผลงาน อื่นๆโปรดระบุ</label>
                        <input type="text" name="other_work_type" placeholder="กรุณาใส่ประเภทผลงานที่ต้องการ" value="{{research_project.other_work_type}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="publishing_type" class="text-base md:text-xl">ประเภทแหล่งเผยแพร่<span class="text-red-600"> *</span></label>
                        <select name="publishing_type" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{research_project.publishing_type}}">{{research_project.publishing_type}}</option>
                            {% for choice in publishing_type_choices %}
                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="publishing_level" class="text-base md:text-xl">ระดับการเผยแพร่<span class="text-red-600"> *</span></label>
                        <select name="publishing_level" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{research_project.publishing_level}}">{{research_project.publishing_level}}</option>
                            {% for choice in publishing_type_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="publishing_year" class="text-base md:text-xl">ปีที่เผยแพร่<span class="text-red-600"> *</span></label>
                        <input type="number" name="publishing_year" placeholder="ปีที่เผยแพร่" value="{{research_project.publishing_year}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>

                    

                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="url" class="text-base md:text-xl">URL<span class="text-red-600"> *</span></label>
                        <input type="text" name="url" placeholder="www.example.com" value="{{research_project.url}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>
                    
                </div>

                <div class="py-2 px-4 mb-4 my-4 text-lg text-center md:text-xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                    <h1>ข้อมูลนักวิจัย</h1>
                </div>
                
                <div id="addpeople_inside" class="py-8 md:px-4 grid md:grid-cols-2 gap-4 text-3xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                    {% for researcher in current_internal_researchers %}
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="name_inside" class="text-base md:text-xl">ชื่อนักวิจัย<span class="text-red-600"> *</span></label>
                        <select type="text" name="name_inside" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{ researcher.id }}">{{ researcher.name.name_lastname_th }}</option>
                            {% for researcher in researchers %}
                            <option value="{{researcher.id}}">{{researcher.name_lastname_th}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="position_inside" class="text-base md:text-xl">เลือกตำแหน่ง<span class="text-red-600"> *</span></label>
                        <select type="text" name="position_inside" placeholder="" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{ researcher.research_position }}">{{ researcher.research_position }}</option>
                            {% for choice in internal_research_position_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
    
                </div>
    
                <div class="flex flex-row justify-center gap-3">
                    <div class="flex justify-center text-center">
                        <button type="button" onclick="addResearcherinside()" class="bg-[#002D57] py-2 w-36 md:w-52 text-white mt-4 rounded-full">เพิ่มนักวิจัย</button>
                    </div>
                    <div class="flex justify-center text-center">
                        <button type="button" onclick="deleteResearcherinside()" class="bg-red-500 py-2 w-36 md:w-52 text-white mt-4 rounded-full">ลบนักวิจัย</button>
                    </div>
                    
                </div>
                
    
                <div class="py-2 px-4 mb-4 my-4 text-lg text-center md:text-xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                    <h1>ข้อมูลนักวิจัย (ภายนอก)</h1>
                </div>
                
                <div id="addpeople_outside" class="py-8 md:px-4 grid md:grid-cols-2 gap-4 text-3xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                    {% for researcher in current_external_researchers %}
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="name_outside" class="text-base md:text-xl">ชื่อนักวิจัย<span class="text-red-600"> *</span></label>
                        <input type="text" name="name_outside" placeholder="ชื่อนักวิจัย" value="{{researcher.name}}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    </div>
                    <div class="flex flex-col px-8 gap-y-1">
                        <label for="position_inside" class="text-base md:text-xl">เลือกตำแหน่ง<span class="text-red-600"> *</span></label>
                        <select type="text" name="position_outside" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            <option value="{{researcher.research_position}}">{{researcher.research_position}}</option>
                            {% for choice in external_research_position_choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    {% endfor %}
                </div>
                
    
                <div class="flex flex-row justify-center gap-3">
                    <div class="flex justify-center text-center">
                        <button type="button" onclick="addResearcheroutside()" class="bg-[#002D57] py-2 w-36 md:w-52 text-white mt-4 rounded-full">เพิ่มนักวิจัย</button>
                    </div>
                    <div class="flex justify-center text-center">
                        <button type="button" onclick="deleteResearcheroutside()" class="bg-red-500 py-2 w-36 md:w-52 text-white mt-4 rounded-full">ลบนักวิจัย</button>
                    </div>        
                </div>

                <div class="flex justify-end py-8">
                    <button type="submit" class="py-2 px-12 text-xl text-white bg-[#164863] hover:bg-blue-500 rounded-full drop-shadow-md shadow ">ยืนยัน</button>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'js/javascripts.js' %}"></script>

    <script>
        function showOtherField() {
        var workType = document.getElementById("work_type").value;
        var otherFieldDiv = document.getElementById("other_work_type_div");
        if (workType == "อื่นๆ") {
            otherFieldDiv.classList.remove("hidden");
            otherFieldDiv.classList.add("flex");
        } else {
            otherFieldDiv.classList.add("hidden");
            otherFieldDiv.classList.remove("flex");
        }
    }
    </script>


    <script>
        function addResearcherinside() {
        // Container where new fields will be added
        var container = document.getElementById('addpeople_inside');

        // Create new researcher name field
        var researcherNameDiv = document.createElement('div');
        researcherNameDiv.className = 'flex flex-col px-8 gap-y-1';
        researcherNameDiv.innerHTML = `
            <label for="name_inside" class="text-base md:text-xl">ชื่อนักวิจัย<span class="text-red-600"> *</span></label>
            <select name="name_inside" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                <option value="">เลือกนักวิจัย</option>
                {% for researcher in researchers %}
                    <option value="{{researcher.id}}">{{researcher.name_lastname_th}}</option>
                {% endfor %}
            </select>
        `;

        // Create new researcher position field
        var researcherPositionDiv = document.createElement('div');
        researcherPositionDiv.className = 'flex flex-col px-8 gap-y-1';
        researcherPositionDiv.innerHTML = `
            <label for="position_inside" class="text-base md:text-xl">เลือกตำแหน่ง<span class="text-red-600"> *</span></label>
            <select name="position_inside" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                <option value="">เลือกตำแหน่ง</option>
                {% for choice in internal_research_position_choices %}
                <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                {% endfor %}
            </select>
        `;

        // Append new fields to the container
        container.appendChild(researcherNameDiv);
        container.appendChild(researcherPositionDiv);
    }



        function addResearcheroutside() {
            // Container where new fields will be added
            var container = document.getElementById('addpeople_outside');

            // Create new researcher name field
            var researcherNameDiv = document.createElement('div');
            researcherNameDiv.className = 'flex flex-col px-8 gap-y-1';
            researcherNameDiv.innerHTML = `
                <label for="name_outside" class="text-base md:text-xl">ชื่อนักวิจัย<span class="text-red-600"> *</span></label>
                <input type="text" name="name_outside" placeholder="ชื่อนักวิจัย" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
            `;

            // Create new researcher position field
            var researcherPositionDiv = document.createElement('div');
            researcherPositionDiv.className = 'flex flex-col px-8 gap-y-1';
            researcherPositionDiv.innerHTML = `
                <label for="position_outside" class="text-base md:text-xl">เลือกตำแหน่ง<span class="text-red-600"> *</span></label>
                <select name="position_outside" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                    <option value="">เลือกตำแหน่ง</option>
                    {% for choice in external_research_position_choices %}
                    <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                    {% endfor %}
                </select>
            `;
            // Append new fields to the container
            container.appendChild(researcherNameDiv);
            container.appendChild(researcherPositionDiv);
        }



        function deleteResearcherinside() {
            // Container where new fields will be added
            var container = document.getElementById('addpeople_inside');
            // Remove the last researcher name field
            var lastResearcherName = container.querySelector('div:nth-last-child(2)');
            if (lastResearcherName) {
                container.removeChild(lastResearcherName);
            }
            // Remove the last researcher position field
            var lastResearcherPosition = container.querySelector('div:last-child');
            if (lastResearcherPosition) {
                container.removeChild(lastResearcherPosition);
            }
        }



        function deleteResearcheroutside() {
            // Container where new fields will be added
            var container = document.getElementById('addpeople_outside');
            // Remove the last researcher name field
            var lastResearcherName = container.querySelector('div:nth-last-child(2)');
            if (lastResearcherName) {
                container.removeChild(lastResearcherName);
            }
            // Remove the last researcher position field
            var lastResearcherPosition = container.querySelector('div:last-child');
            if (lastResearcherPosition) {
                container.removeChild(lastResearcherPosition);
            }
        }
    </script>

</body>
</html>