
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load humanize %}
    {% load static %}
    <title>รายงานบริการวิชาการ</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
</head>
<body>
    {% include 'navbar.html' %}
    <div class="relative bg-slate-100 pb-12 min-h-screen  font-minimon text-[#164863]">
        {% if user.is_authenticated %}
        <div class="pt-2 md:pt-8 px-4 md:px-12">
        {% else %}
        <div class="pt-4 md:pt-16 px-4 md:px-12">
        {% endif %}
            <div class="flex flex-row justify-between py-2 px-4 mb-4 text-lg md:text-2xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                <h1 class="mt-2 md:mt-1">รายงานบริการวิชาการ</h1>
            </div>
            
            <form method="POST" id="filterForm">
                {% csrf_token %}
                    <div class="py-4 md:py-8 md:px-4 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow">
                        {% if static_value == 'zone' %}
                        <div class="grid md:grid-cols-4 gap-4 text-3xl">
                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="zone" class="text-base md:text-xl">ภูมิภาค</label>
                                <select id="zone" name="zone" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ภูมิภาคทั้งหมด</option>
                                    {% for z in zone %}
                                    <option value="{{ z.id }}" {% if z.id|stringformat:"s" == request.POST.zone %} selected {% endif %}>{{ z.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="province" class="text-base md:text-xl">จังหวัด</label>
                                <select type="text" id="province" name="province" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">จังหวัดทั้งหมด</option>
                                    {% for province in province %}
                                    <option value="{{ province.id }}" {% if province.id|stringformat:"s" == request.POST.province %} selected {% endif %}>{{ province.name_th }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="district" class="text-base md:text-xl">อำเภอ</label>
                                <select type="text" id="district" name="district" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">อำเภอทั้งหมด</option>
                                    {% for district in district %}
                                    <option value="{{ district.id }}" {% if district.id|stringformat:"s" == request.POST.district %} selected {% endif %}>{{ district.name_th }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="year" class="text-base md:text-xl">ปีการศึกษา</label>
                                <select type="text" name="year" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ทุกปีการศึกษา</option>
                                    {% for year in publication_years %}
                                    <option value="{{ year }}" {% if year == request.POST.year %} selected {% endif %}>{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            {% else %}
                        <div class="grid md:grid-cols-3 gap-4 text-3xl">
                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="search" class="text-base md:text-xl">ค้นหา โครงการ/กิจกรรม</label>
                                <input type="text" name="search" placeholder="ค้นหางานบริการวิชาการ" value="{{ search_query }}" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="year" class="text-base md:text-xl">ปีการศึกษา</label>
                                <select type="text" name="year" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ทุกปีการศึกษา</option>
                                    {% for year in publication_years %}
                                    <option value="{{ year }}" {% if year == request.POST.year %} selected {% endif %}>{{year}}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label class="text-lg font-semibold text-gray-800">วันเริ่มต้น - วันสิ้นสุด</label>
                                <div class="flex gap-x-3">
                                    <input id="startDate" name="startDate" autocomplete="nope" placeholder="วันเริ่มต้น" value="{{request.POST.startDate}}" class="w-full py-2 px-3 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none" required />
                                    <span class="font-bold mt-1">-</span>
                                    <input id="endDate" name="endDate" autocomplete="nope" placeholder="วันสิ้นสุด" value="{{request.POST.endDate}}" class="w-full  py-2 px-3 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none" required />
                                </div>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="project_type" class="text-base md:text-xl">ประเภทโครงการบริการวิชาการ</label>
                                <select type="text" name="project_type" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ทุกประเภทโครงการบริการวิชาการ</option>
                                    {% for choice in work_choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == request.POST.project_type %} selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="integration_type" class="text-base md:text-xl">ประเภทบูรณาการ </label>
                                <select type="text" name="integration_type" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ทุกประเภทบูรณาการ</option>
                                    {% for choice in integration_choices %}
                                    <option value="{{ choice.0 }}" {% if choice.0 == request.POST.integration_type %} selected {% endif %}>{{ choice.1 }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="faculty" class="text-base md:text-xl">หน่วยงาน / คณะ</label>
                                <select name="faculty" id="facultySelect" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">หน่วยงาน / คณะทั้งหมด</option>
                                    {% for faculty in faculties %}
                                    <option value="{{ faculty.id }}" {% if faculty.id|stringformat:"s" == request.POST.faculty %} selected {% endif %}>{{ faculty.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                
                            <div class="flex flex-col px-4 gap-y-1">
                                <label for="department" class="text-base md:text-xl">ฝ่ายงาน / สาขา</label>
                                <select name="department" id="departmentSelect" class="py-2 rounded-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                    <option value="">ฝ่ายงาน / สาขาทั้งหมด</option>
                                    {% for department in departments %}
                                    <option value="{{ department.id }}" {% if department.id|stringformat:"s" == request.POST.department %} selected {% endif %}>{{ department.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>

                        {% endif %}
                        </div>
                        <div class="flex justify-center md:justify-end md:mr-8 text-white gap-4">
                            <button type="submit" name="filterbtn" class="py-2 px-8 mt-6 text-lg bg-[#164863] text-white hover:bg-white hover:text-[#164863] rounded-full drop-shadow-md shadow"><i class="fa-solid fa-magnifying-glass mr-2"></i>ค้นหา</button>
                            <button type="button" onclick="resetForm();" class="py-2 px-8 mt-6 text-lg bg-gray-600 text-white hover:bg-white hover:text-gray-600 rounded-full drop-shadow-md shadow"><i class="fa-solid fa-rotate mr-2"></i>ล้าง</button>
                        </div>
                    </div>
                </form>
            
                <div class="mt-8 py-8 md:px-4 bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow  min-h-[360px] md:min-h-[480px] lg:min-h-[600px]">
                    <div class="text-center md:text-2xl lg:text-4xl mb-4">
                        <h1>สถิติผลงานวิจัยจำแนกตามหน่วยงาน</h1>
                        <h1>มหาวิทยาลัยฟาฏอนี</h1>
                        <form id="myForm" method="GET" class="text-center md:text-right mt-4 md:mt-0">
                            <select name="static_value" id="staticSelect" class="py-2 rounded-lg text-sm md:text-lg border border-gray-300 focus:border-blue-500 focus:ring-blue-500 focus:ring-opacity-50 focus:outline-none">
                                <option value="faculty" {% if 'faculty' == request.GET.static_value %} selected {% endif %}>สถิติบริการวิชาการแยกตามคณะ</option>
                                <option value="zone" {% if 'zone' == request.GET.static_value %} selected {% endif %}>สถิติบริการวิชาการแยกตามจังหวัด</option>
                                <option value="budget" {% if 'budget' == request.GET.static_value %} selected {% endif %}>สถิติงบประมาณแยกตามคณะ</option>
                            </select>
                        </form>
                    </div>

                    <div class="grid grid-cols-1 md:grid-cols-2">
                        <div id="3d-pie-chart" class="h-full md:max-h-[220px] lg:max-h-[330px] 2xl:max-h-[600px]"></div>
                        <div class="flex flex-col my-8 min-h-[full] md:border-solid md:border-l-2  md:border-cyan-500">
                            {% for data in chart_data %}
                            <div class="flex flex-col text-sm md:text-lg lg:text-2xl my-2 border-solid border-b-2  border-cyan-500  mx-12 md:mx-20">
                                <h1 class="lg:mx-8">{{ data.category }}</h1>
                                <div class="ml-6 flex flex-row justify-between">
                                    <h1 class="lg:mx-8">{{ data.value|intcomma}}</h1>
                                    <h1 class="lg:mx-8">({{ data.percent|floatformat:"2" }}%)</h1>
                                </div>
                            </div>
                            {% endfor %}  
                            <div class="flex flex-col text-sm md:text-lg lg:text-2xl my-2 border-solid border-b-2  border-cyan-500 mx-12 md:mx-20">
                                <h1 class="lg:mx-8">รวมทั้งสิ้น</h1>
                                <h1 class="ml-14">{{ total|intcomma }}</h1>
                            </div>
                        </div>
                    </div>
                </div>

            <div class="mt-8 py-2 px-2 md:px-4 gap-4 md:gap-5 items-center flex flex-row justify-between  w-full text-sm md:text-xl lg:text-2xl bg-gradient-to-r from-[#DDF2FD] to-[#ffffff] rounded-lg drop-shadow-md shadow ">
                <h1 class="w-1/12 text-center">ลำดับ</h1>
                <h1 class="w-1/2 text-center">ชื่อโครงการ/กิจกรรม	</h1>
                <h1 class="w-1/3 text-center">คณะ</h1>
                <h1 class="w-1/3 text-center">สาขา</h1>
                <h1 class="w-1/3 text-center">วันที่ทำโครงการ/กิจกรรม</h1>
            </div>
            
            {% for academic in page_obj %}
            <a href="{% url 'academic_detail' id=academic.id %}">
                <div class="mt-2 py-2 px-2 md:px-4 gap-6 md:gap-5 items-center flex flex-row justify-between w-full md:text-lg lg:text-2xl bg-gray-100 hover:bg-[#164863] hover:text-white rounded-lg drop-shadow-md shadow ">
                    <h1 class="w-1/12 text-center">{{forloop.counter}}</h1>
                    <h1 class="w-1/2 text-center">{{academic.workTH}}</h1>
                    <h1 class="w-1/3 text-center">{{academic.faculty}}</h1>
                    <h1 class="w-1/3 text-center">{{academic.department.name}}</h1>
                    <h1 class="w-1/3 text-center">{{academic.startDate}} - {{academic.endDate}}</h1>

                </div>
            </a>
            {% endfor %}
        
            <div class="pagination text-center text-sm md:text-xl py-12">
                <span class="step-links">
                    
                    <!-- Dynamically create page links -->
                    {% for num in page_obj.paginator.page_range %}
                        {% if num == page_obj.number %}
                            <span class="underline">{{ num }}</span>
                        {% else %}
                            <a href="?page={{ num }}">{{ num }}</a>
                        {% endif %}
                    {% endfor %}
                </span>
            </div>

        </div>
    </div>

    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="{% static 'js/javascripts.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/th.js"></script> <!-- Thai locale -->

    <script>
      // Initialize flatpickr for startDate and endDate inputs
      flatpickr("#startDate", {
        dateFormat: "d-m-Y",
        locale: "th", // Specify Thai locale
        onChange: function(selectedDates, dateStr, instance) {
          // Set minDate of endDate picker to startDate value
          instance.config.maxDate = document.getElementById("endDate").value;
        }
      });
    
      flatpickr("#endDate", {
        dateFormat: "d-m-Y",
        locale: "th", // Specify Thai locale
        onChange: function(selectedDates, dateStr, instance) {
          // Set maxDate of startDate picker to endDate value
          instance.config.minDate = document.getElementById("startDate").value;
        }
      });
    </script>
    

    <script>
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
      
        function drawChart() {
          // Define the chart data
          var chartData = [
            ['Category', 'Value'],  // Header row
            // Data rows
            {% for item in chart_data %}
              ['{{ item.category }}', {{ item.value }}],
            {% endfor %}
          ];
      
          // Convert the chart data to a DataTable
          var data = google.visualization.arrayToDataTable(chartData);
    
          var options = {
                title: '',
                is3D: true,
                legend: {
                    position: 'labeled',
                    alignment: 'center',
                },
                pieSliceText: 'value',
                selectionMode: 'multiple',
                seriesType: 'bars',
                backgroundColor: 'none',
            };
      
          // Instantiate and draw the chart, passing in the data and options
          var chart = new google.visualization.PieChart(document.getElementById('3d-pie-chart'));
          chart.draw(data, options);
        }
      </script>

    <script>
        function resetForm() {
            // Reset the form
            document.getElementById("filterForm").reset();
            
            // Reload the page with default filter settings
            window.location.href = "{% url 'academic_report' %}"; // Replace 'your_view_name' with the name of your view
        }
    </script>

    <script>
        // Get the select element
        const selectElement = document.getElementById('staticSelect');

        // Add an event listener to the select element
        selectElement.addEventListener('change', function() {
            // Submit the form when an option is selected
            document.getElementById('myForm').submit();
        });
    </script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const zoneSelect = document.querySelector('#zone');
        const provinceSelect = document.querySelector('#province');
        const districtSelect = document.querySelector('#district');

        zoneSelect.addEventListener('change', function () {
            const zoneId = this.value;
            fetch(`/get-provinces/?zone_id=${zoneId}`)
                .then(response => response.json())
                .then(data => {
                    provinceSelect.innerHTML = '<option value="">เลือก</option>';
                    data.forEach(province => {
                        const option = document.createElement('option');
                        option.value = province.id;
                        option.textContent = province.name_th;
                        provinceSelect.appendChild(option);
                    });
                });
        });

        provinceSelect.addEventListener('change', function () {
            const provinceId = this.value;
            fetch(`/get-districts/?province_id=${provinceId}`)
                .then(response => response.json())
                .then(data => {
                    districtSelect.innerHTML = '<option value="">เลือก</option>';
                    data.forEach(district => {
                        const option = document.createElement('option');
                        option.value = district.id;
                        option.textContent = district.name_th;
                        districtSelect.appendChild(option);
                    });
                });
        });
    });
</script>

</body>
</html>
